name: Notes App CI

on:
  push:
    branches: [ main ]
    paths:
      - 'notes-app/**'

env:
  AWS_REGION: "us-east-1"

permissions:
  id-token: write
  contents: write

jobs:
  build:
    name: Build and Push Notes App
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: notes-app
      run: |
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF##*/}-$git_hash -f notes-app/docker/Dockerfile notes-app/.
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF##*/}-$git_hash

    - name: Update KRO instance image tag
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: notes-app
      run: |
        git_hash=$(git rev-parse --short "$GITHUB_SHA")
        sed -i "s|image:.*|image: $ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF##*/}-$git_hash|" notes-app/kro/instance.yaml

    - name: Commit and push changes
      uses: devops-infra/action-commit-push@v0.3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        commit_message: "Update notes-app image tag"
